PUBLIC_BASE_URL=https://sfwbots.com
PORT=8080
AUTH_BASE_URL=https://YOUR-CLOUD-RUN-URL
AUTH_LANDING_URL=https://sfwbots.com/
FIRESTORE_PROJECT_ID=prj-id-misc
FIRESTORE_COLLECTION=waitlist_users
FLASK_SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=
